.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

.wrapper:first-child {
  justify-self: end;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}
.input {
  margin-bottom: 20px;
  font-size: 18px;
}
